{{>header}}
    <div class="container site-content">           
        <h1>{{ title }}</h1> 
        <p>{{ author }}</p>

        <form>
            <input type="text">
            <button>Search</button>
        </form>

        <p id="location"></p>
        <p id="forecast"></p>
    </div>
{{>footer}}
 