<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>       
        <header>
            <div class="container">
                <nav>
                    <a href="/">Home</a>
                    <a href="/about">about</a>           
                </nav> 
            </div>
        </header>
        